<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ir.boombeach.persian"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>آموزش بوم بیچ</name>

    <description>
        آموزش کامل بازی استراتژی بوم بیچ 
    </description>

    <author href="#" email="a.mohamadi@outlook.com">
        Ali Sheykhmohamadi
    </author>

</widget>